.loader {
  position: fixed;
  inset: 0;
  background: #020814;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.gear {
  width: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
