#loader {
  position: fixed;
  inset: 0;
  background: #02060d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.gear-box {
  display: flex;
  gap: 20px;
}

.gear {
  width: 70px;
  animation: spin 2.5s linear infinite;
}

.gear.reverse {
  animation-direction: reverse;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
